.basket-image{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.basket-delete-button{
    width: 190px;
}
@media (max-width: 500px) {
    .basket-image{
        width: 120px;
        height: 120px;
    }
    .desktop{
        display: none;
    }
    .basket-delete-button{
        width: 93px;
    }
}