.prod-description{
    display: flex;
    padding: 40px 12px;
}
.product-photo.current-product{
    margin: 0;
    padding-left: 50px;
}
.back-desktop{
    position: fixed;
    color: cornflowerblue;
    z-index: 1;
    text-shadow: 1px 1px 2px gray;
    cursor: pointer;
    top: 100px;
    left: 30px;
    font-family: 'Balsamiq Sans', cursive, 'Arial';
    font-size: 1.5em;
}
@media (max-width: 500px) {
    .prod-description{
        display: block;
        padding: 0 5px
    }
    .product-photo.current-product{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        width: 100%;
    }
    .current-product-view-item{
        box-sizing: border-box;
        transform-origin: top left;
        animation: panel 500ms ease-in-out;
        animation-fill-mode:forwards;
    }
    .back-desktop{
        display: none;
    }
}
@keyframes panel {
    0% { transform: scaleX(0);}
    100% { transform: scaleX(1); }
}